body{
    background-image: url("stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 15%;
}

/* nav bar */

#nv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #333;
}

#nav{ 
    display: inline;
}

li a {
    padding: 15px 15px;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
    color: pink;
}


/* name design */

.name {
    margin-top: 15%;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    -webkit-animation: mymove 4s step-end;
    -webkit-animation-timing-function: linear;

}
@-webkit-keyframes mymove {
    from {opacity: .99;}
    to {opacity: .33;}
}

.name:hover{
    color: pink;
}

.line {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
    width: 30%;
}

/* add social media links */ 

.fa {
    width: 50px;
    margin-top: 20%;
}

.fa-linkedin{
    background-color: #007bb6;
    color: white;

}

.fa-github{
    background-color: #333;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
    
.fa-twitter {
    background: #55ACEE;
    color: white;
}
    
.fa-instagram {
    background: brown;
    color: white;
}
    
.fa:hover {
    opacity: 0.7;
}
    
.sm {
    text-decoration: none;
    position: relative;
    padding: 10px 10px;
    display: inline;
}

.social{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* add mobile support */ 

/* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
@media screen and (min-width:320px) and (max-width:640px) {
    body{
        background-image: url("stars.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 15%;
    }
    
    /* nav bar */
    
    #nv {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #333;
    }
    
    #nav{ 
        display: inline;
    }
    
    li a {
        padding: 15px 15px;
        display: inline-block;
        color: whitesmoke;
        text-align: center;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
        text-decoration: none;
        color: pink;
    }
    
    
    /* name design */
    
    .name {
        margin-top: 15%;
        font-size: 50px;
        color: whitesmoke;
        text-align: center;
        -webkit-animation: mymove 4s step-end;
        -webkit-animation-timing-function: linear;
    
    }
    @-webkit-keyframes mymove {
        from {opacity: .99;}
        to {opacity: .33;}
    }
    
    .name:hover{
        color: pink;
    }
    
    .line {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
        width: 30%;
    }
    
    /* add social media links */ 
    
    .fa {
        width: 50px;
        margin-top: 20%;
    }
    
    .fa-linkedin{
        background-color: #007bb6;
        color: white;
    
    }
    
    .fa-github{
        background-color: #333;
        color: white;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
        
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
        
    .fa-instagram {
        background: brown;
        color: white;
    }
        
    .fa:hover {
        opacity: 0.7;
    }
        
    .sm {
        text-decoration: none;
        position: relative;
        padding: 10px 10px;
        display: inline;
    }
    
    .social{
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}